
  <!-- views/auth/addmember.hbs -->
<h2>Add Family Member</h2>
 
<form action="/addmember" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Jon Snow">
  <br><br>
   <label for="username">Name</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
                                             <label for="password">Password:</label>
                                             <input type="password" name="password">
  <label for="birthday">Birthday</label>
  <input id="birthday" type="date" name="birthday">
  <br><br>
  <label for="phone_Number">Phone Number</label>
  <input id="phone_Number" type="number" name="phone_Number">
  <br><br>
  <label for="e_mail">Email</label>
  <input id="e_mail" type="text" name="e_mail" placeholder="jonsnow@mail.com">
  <br><br>

 
  <button>Create New Member</button>
</form>
<h3><a href="/private">Go Back</a><h3></h3>