<!doctype html>
<html lang="en">
  <head></head>
    <body class="text-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/planitlogotext.png" width="60" height="60" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/familysignup">Signup</a>
      </li>
    </ul>
  </div>
</nav> 
  <div class="container-fluid">
  <main role="main" class="inner cover">
  <img class="cover-logo" src="/images/planitlogotext.png" width="500" height="500" alt="logo">
    <p class="lead">The family planner that's out of this world.</p>
    <div class="buttons">
    <div class="homeLink"> 
      <p><a class="btn " href="/familysignup">Sign Up here  </a></p> 
      <img width=5% src="\images\cuteRocket.png">
      <p><a class="btn" href="/login">Login here</a></p>
 </div>
    
    </div>
  </main>
</div>
<br><br>
     </body>
</html>



