  <div class="container-fluid">
  <main role="main" class="inner cover">
  <img class="cover-logo" src="/images/planitlogotext.png" width="500" height="500" alt="logo">
    <p class="lead">The family planner that's out of this world.</p>
    <div class="buttons">
    <div class="homeLink"> 
      <p><a class="btn " href="/familysignup">Sign Up here  </a></p> 
      <img width=5% src="\images\cuteRocket.png">
      <p><a class="btn" href="/login">Login here</a></p>
 </div>
    </div>
  </main>
</div>
<br><br>