

<h2>{{user.name}}</h2>
<p><b>Birthday: </b>{{user.birthday}}</p>
<p><b>Phone Number: </b><i>{{user.phone_Number}}</i></p>
<p><b>Email: </b><i>{{user.e_mail}}</i></p>
<h3><a href="/private">Go back to Family</a><h3>
<h3><a href="/">Go Back to Home</a><h3>
