<h1>Member page<h1>
<div>
{{#with member}}
<p>{{this.name}}</p>
<p><b>Birthday: </b>{{this.birthday}}</p>
<p><b>Phone Number: </b><i>{{this.phone_Number}}</i></p>
<p><b>Email: </b><i>{{this.e_mail}}</i></p>
{{/with}}
</div>

<h3><a href="/private">Go back to Family</a><h3>
<h3><a href="/">Go Back to Home</a><h3>
