Family page
{{#if user}}
  <div>
    <a href="/">Index</a>
  </div>
 
{{/if}}


<a href="addgoal">Create your Goal!</a>
<a href="addmember">Add a family member here</a>
<a href="goalsList">goals List</a>


<br><br>
<a href="/logout">Logout</a>

<br><br>