<div class="goalFormSite">
<title>Goal Form</title>

<h1>THE GOAL</h1>

<div class="goalForm">
<form action="/addgoal" method="post">


<div class="innerGoalForm">

  <div class="goalFormGroup">
    <label for="goal"> The Goal: </label>
    <input type="text" name="goal" id="goal" placeholder="The Goal">
 </div>

 <div class="goalFormGroup">
    <label for="description">Give It A Descirption:</label>
    <input type="text" name="description" id="description" placeholder="give it a description ">
    </div>

    <div class="goalFormGroup">
   <label for="limit"> Set The Countdown </label>
  <input type="date" name="limit" id="limit" >
  </div>

 <div class="goalFormGroup">
    <button type="submit">Let's get busy!</button>
    </div>

    </div>
</form>
</div>
</div>
