<div class="goalFormSite">
<title>Goal Form</title>

<h1>THE GOAL</h1>

<div class="goalForm">
<form action="/addgoal" method="post">


<div class="innerGoalForm">

  <div class="goalFormGroup">
    <input type="text" name="goal" id="goal" placeholder="The Goal">
 </div>

 <div class="goalFormGroup">
    <input type="text" name="description" id="description" placeholder="give it a description ">
    </div>

   <!-- <div class="goalFormGroup">
     <div class="countdown">
 <label for="limit" > Set The Countdown </label>
  <input type="date" name="limit" id="limit" >
  </div>
  </div> -->
  

 <div class="goalFormGroup">
    <button type="submit">Let's get busy!</button>
    </div>

    </div>
</form>
</div>
</div>
