<h1>THE GOAL</h1>

<form action="/addgoal" method="post">
    <label for="goal"> The Goal: </label>
    <input type="text" name="goal" id="goal">
    <label for="description">Give It A Descirption:</label>
    <input type="text" name="description" id="description">
   <label for="limit"> Set The Countdown </label>
  <input type="date" name="limit" id="limit">

    <button type="submit">Let's get busy!</button>
</form>

