<div class="goalsList">

<form action="/addGoalToMember"  method="post">

<label for="goal">THE GOALS</label>
<select multiple class="selectpicker show-tick form-control form-control-lg" name="goal" id="goalsList">

{{#each goalsList}}
<option value="{{_id}}">
{{goal}}
<p id="demo"></p>
</option>
{{/each}}

</select>

<div class="memberSelect">
<label for="member">who is getting the point?</label>

<select class="memberSelectForm" name="member" id="">
  
  {{#each family.members}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
 
</select>



<button type="submit">get the goal</button>
</div>
</form>


</div>



