 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/planitlogotext.png" width="60" height="60" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/familysignup">Signup</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/private">Family Planner</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>  
<div class="goalsList">

<form action="/addGoalToMember"  method="post">

<label for="goal">THE GOALS</label>
<select multiple class="selectpicker show-tick form-control form-control-lg" name="goal" id="goalsList">

{{#each goalsList}}
<option value="{{_id}}">
{{goal}}
<p id="demo"></p>
</option>
{{/each}}

</select>

<div class="memberSelect">
<label for="member">who is getting the point?</label>

<select name="member" id="">
  
  {{#each family.members}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
 
</select>



<button type="submit">get the goal</button>
</div>
</form>


</div>



