@font-face {
	font-family: 'DoodleJump';
	src: url('//2ttf.com/webfont/9L8ZEUpWnuu/webfont.ttf') format('truetype');
}

/* sample using the font */
body {
padding: 10px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
margin: 0;
font-size: 1rem;
font-weight: 400;
font-family: 'DoodleJump';
line-height: 1.5;
height: 100%;
background-color: #90d2d8;
color: #020122;
text-align: center;



}
.container-fluid{
background-color: #6F8AB7;
color: #020122;
}
.cover-heading{
  padding: 20px;
}
.lead{
  padding: 1px;
  margin: 0;
}
.navbar-brand{

}
a {
  color: #white;
}

.mastfoot .mt-auto{
background-color: #020122;
color: #020122;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
  margin: 10;
}

a .btn .btn-lg .btn-secondary{
padding: 10px;
margin: 50px;
}

.login-form-bg .h-100{
padding: 50px;
background-color: #020122;
}

.card .login-form .mb-0{
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }


h1{
color: white;
}
p{
  color: white;
}

  .mt-5 .mb-5 .login-input {  
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

 .form-group {
   font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  
  text-align: left;
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

p .mt-5 .login-form__footer{
color: black;
}
.btn .login-form__btn .submit .w-100 {
  outline: none;
  box-sizing: inherit;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 100% ;
  font-size: 14px;
  padding: 15px 40px;
  color: #020122;
  background: #020122;
  font-weight: 700;
}
.progress{
  width: 62%;
}
.goalsList >ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.goalsList >ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.goalsList >ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.goalsList >ul li.checked {
  background: #888;
  color:rgb(240, 14, 202);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.goalsList >ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.goalsList>form{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#goalsList{
  width:30rem;
  height:20rem;
}


.memberSelect{
  display: flex;
  flex-direction: column;
}
.memberSelect >label{
  margin-top: 2rem;
}
.memberSelect>select{
  margin-top: 2rem;
}
.memberSelect>button{
  margin-top: 2rem;
}



